body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

ul {
    display: flex;
    list-style-type: none;
    gap: 8px;
    margin-right: 16px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: #3882F6;
    font-weight: bold;
    font-family: "Roboto";
    border-radius: 8px;
    color: #E5E7EB;
    padding: 6px 32px;
    width: 110px;
}



.header, .section-1, .section-2, .section-3, .section-4, .footer {
    padding: 0 200px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-1 {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    gap: 100px;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747e;
    width: 1000px;
    color:#F9FAF8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 48px;
}